<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Opret Bruger - Carport</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="header">
  <div class="logo">
    <img src="/public/images/fogLogo.png" th:src="@{/images/fogLogo.png}" alt="Fog Logo">
  </div>
</header>

<div class="container">
  <div class="login-box">

    <form class="login-form" method="get" th:action="@{/createuser}">
      <label for="navn">Fulde navn:</label>
      <input type="text" id="navn" name="navn" placeholder="Indtast dit fulde navn" class="input-field" />

      <label for="adresse">Adresse:</label>
      <input type="text" id="adresse" name="adresse" placeholder="Indtast adresse" class="input-field" />

      <label for="postnummer">Postnummer:</label>
      <input type="text" id="postnummer" name="postnummer" placeholder="Indtast postnummer" class="input-field" />

      <label for="by">By:</label>
      <input type="text" id="by" name="by" placeholder="Indtast by" class="input-field" />

      <label for="telefon">Tlf-nummer:</label>
      <input type="text" id="telefon" name="telefon-nummer" placeholder="Indtast telefonnummer" class="input-field" />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Indtast email" class="input-field" />

      <label for="password1">Password:</label>
      <input type="password" id="password1" name="password1" placeholder="Indtast password" class="input-field" />

      <label for="password2">Bekræft Password:</label>
      <input type="password" id="password2" name="password2" placeholder="Gentag password" class="input-field" />

      <button type="submit" class="createuser-btn">Opret bruger</button>
    </form>

    <div>
      <p th:text="${message}" class="error-message"></p>
    </div>
  </div>
</div>
</body>
</html>
