<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>Redskabsrum</title>
  <link rel="stylesheet" href="../public/css/orderSite.css">
  <link rel="stylesheet" th:href="@{/css/orderSite.css}">
</head>
<body>
<div class="container">
  <aside class="sidebar">
    <div class="logo">Fog<sup>®</sup></div>
    <div class="steps">
      <div class="step">1</div>
      <div class="step active">2</div>
      <div class="step">3</div>
      <div class="step icon">🚘</div>
    </div>
    <ul class="info-text">
      <li><strong>Bredde:</strong> <span th:text="${session.width}"></span></li>
      <li><strong>Længde:</strong> <span th:text="${session.length}"></span></li>

    </ul>
  </aside>

  <main class="form-section">
    <h2>udfyld formularen</h2>
    <h1>REDSKABSRUM</h1>

    <form method="post" action="/ordercarport">
      <div class="toggle-group">
        <label>Tilføj redskabsrum?:</label>
        <div class="toggle">
          <input type="radio" id="ja" name="redskabsrum" value="ja" checked>
          <label for="ja" class="yes">JA</label>

          <input type="radio" id="nej" name="redskabsrum" value="nej">
          <label for="nej" class="no">NEJ</label>
        </div>
      </div>

      <label for="redskabsrumBredde">Redskabsrum Bredde:</label>
      <input type="number" id="redskabsrumBredde" name="redskabsrumBredde" placeholder="Indtast bredde" class="input-field" /><br>

      <label for="redskabsrumLængde">Redskabsrum Længde:</label>
      <input type="number" id="redskabsrumLængde" name="redskabsrumLængde" placeholder="Indtast Længde" class="input-field" />


      <div class="totalprice">
        <p><strong>Total pris:</strong> <span th:text="${session.totalPrice} + ' kr'"></span></p>
      </div>

      <input type="hidden" name="length" th:value="${session.length}" />
      <input type="hidden" name="width" th:value="${session.width}" />
      <input type="hidden" name="redskabsrumLængde" th:value="${session.redskabsrumLængde}" />
      <input type="hidden" name="redskabsrumBredde" th:value="${session.redskabsrumBredde}" />
      <button class="btn">fortsæt</button>
    </form>

  </main>
</div>
</body>
</html>

